venv/
.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.cache/
htmlcov/
.coverage
coverage.xml
*.cover

chromedriver.exe
geckodriver.exe
msedgedriver.exe
screenshots/
videos/

# Archivos generados en ejecucion
qa_last_email.txt

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
Thumbs.db
Desktop.ini
.DS_Store
